---
layout: layout.njk
---

<main id="main-content" tabindex="-1">
  <h1 class="">Products</h1>
  <ol class="product-list" title="List of Products">
    {% for price in prices %}
    <li class="product-preview" title="{{ price.product.name }}">
      <a href="/products/{{ price.product.name | slug }}/" rel="bookmark">
        <img src="{{ price.product.images[0] }}" alt="{{ price.product.name }} image" class="product-preview__image">
        <h2 class="product-preview__name">
          {{ price.product.name }}
        </h2>
      </a>
      <div class="product-preview__details" title="Product Details">
        <p class="product-preview__price" title="Product Price">{{ price.unit_amount | convertCentsToDollars }}</p>
        <launch-cart-additem price-id="{{price.id}}">
          <button class="button" type="submit">Add to Cart</button>
        </launch-cart-additem>
      </div>
    </li>
    {% endfor %}
  </ol>
</main>