<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Launch Scout Store</title>
  <meta name="description" content="Art, writing, crafting, &amp; flavors by Sia Karamalegos">
  <meta property="og:description" content="Art, writing, crafting, &amp; flavors by Sia Karamalegos" />

  <link rel="preconnect dns-prefetch" href="https://www.google-analytics.com">

  <script type="module" src="https://cdn.jsdelivr.net/npm/launch-cart"></script>

  <link rel="stylesheet" href="/css/index.css">

  <link rel="icon" href="/images/favicon.png" type="image/png" />

  <link rel="stylesheet" href="https://use.typekit.net/jjm1gir.css">
</head>

<body>
  <a class="skip-link" href="#main-content">Skip to content</a>
  <header role="banner" title="Page Header">
    <a href="/" class="" title="Homepage" aria-current=page>
      <img src="/images/launch-scout-logo.png" width="80" />
    </a>
    <launch-cart url="wss://launch-cart.fly.dev/socket" store-id="c4cb5bad-fefc-4e16-8542-88a9ec2fb80b"></launch-cart>
  </header>

  <main id="main-content" tabindex="-1">
    <h1 class="">Products</h1>
    <ol class="product-list" title="List of Products">
      {% for price in prices %}
      <li class="product-preview" title="{{ price.product.name }}">
          <a href="/products/{{ price.product.name | slug }}/" rel="bookmark">
            <img src="{{ price.product.images[0] }}" alt="{{ price.product.name }} image" class="product-preview__image">
            <h2 class="product-preview__name">
              {{ price.product.name }}
            </h2>
          </a>
          <div class="product-preview__details" title="Product Details">
            <p class="product-preview__price" title="Product Price">{{ price.unit_amount | convertCentsToDollars }}</p>
            <launch-cart-additem price-id="{{price.id}}">
              <button class="button" type="submit">Add to Cart</button>
            </launch-cart-additem>
          </div>
      </li>
      {% endfor %}
    </ol>
  </main>

  <footer>
    Footer links go here
  </footer>


</body>

</html>