<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Launch Scout Store</title>
  <meta name="description" content="Art, writing, crafting, &amp; flavors by Sia Karamalegos">
  <meta property="og:description" content="Art, writing, crafting, &amp; flavors by Sia Karamalegos" />

  <link rel="preconnect dns-prefetch" href="https://www.google-analytics.com">

  <script type="module" src="https://cdn.jsdelivr.net/npm/launch-cart"></script>

  <link rel="stylesheet" href="/css/index.css">

  <link rel="icon" href="/images/favicon.png" type="image/png" />

  <link rel="preload" as="font" type="font/woff2" href="/css/fonts/josefin-sans-v14-latin-700.woff2" crossorigin>
</head>

<body>
  <a class="skip-link" href="#main-content">Skip to content</a>
  <header role="banner" class="[ site-head ] [ pad-top-700 ">
    <div class="wrapper">
      <span class="visually-hidden">: </span>
      <div class="[ site-head__inner ] [ md:box-flex space-between align-center ]">
        <a href="/" class="[ site-head__site-name ] [ leading-tight ]" aria-current=page>
          <span class="visually-hidden">Homepage</span>
          <img src="/images/launch-scout-logo.png" width="80" />
        </a>
        <stripe-cart url="wss://stripe-cart.onrender.com/socket" store-id="87e93cb4-3112-4ba8-84bc-fdb414c059c3"></stripe-cart>
      </div>
    </div>
  </header>




  <main id="main-content" tabindex="-1">

    <section class="[ gap-bottom-900 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2 class="[ post-list__heading ] [ text-700 md:text-800 ]">Products</h2>
        <ol class="[ pad-top-300 ] [ product ] [ ol-reset ]">
          {% for price in prices %}
          <li class="product-card sf-flow">
            <h3 class="font-base leading-tight text-600 weight-mid">
              <a href="/products/{{ price.product.name | slug }}/" class="post-list__link" rel="bookmark">{{ price.product.name }}</a>
            </h3>
            <img src="{{ price.product.images[0] }}" alt="">
            <p>{{ price.unit_amount | convertCentsToDollars }}</p>
            <launch-cart-additem price-id="{{price.id}}">
              <button class="button" type="submit">Add to cart</button>
            </launch-cart-additem>
          </li>
          {% endfor %}
        </ol>
      </div>
    </section>


  </main>


</body>

</html>