---
pagination:
    data: prices
    size: 1
    alias: price
permalink: "products/{{ price.product.name | slug }}/"
---
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Launch Scout Store</title>
  <meta name="description" content="Art, writing, crafting, &amp; flavors by Sia Karamalegos">
  <meta property="og:description" content="Art, writing, crafting, &amp; flavors by Sia Karamalegos" />

  <link rel="preconnect dns-prefetch" href="https://www.google-analytics.com">

  <script type="module" src="https://cdn.jsdelivr.net/npm/launch-cart"></script>

  <link rel="stylesheet" href="/css/index.css">

  <link rel="icon" href="/images/favicon.png" type="image/png" />

  <link rel="stylesheet" href="https://use.typekit.net/jjm1gir.css">
</head>

<body>
  <a class="skip-link" href="#main-content">Skip to content</a>
  <header role="banner" title="Page Header">
    <a href="/" class="" title="Homepage" aria-current=page>
      <img src="/images/launch-scout-logo.png" width="80" />
    </a>
    <launch-cart url="wss://launch-cart.fly.dev/socket" store-id="c4cb5bad-fefc-4e16-8542-88a9ec2fb80b"></launch-cart>
  </header>

  <main id="main-content" tabindex="-1">
    <a href="/">&larr; Back to Products</a>
    <h1>Product Details</h1>
    <div class="product">
      <img src="{{ price.product.images[0] }}" alt="{{ price.product.name}} Product Image">
      <div class="product__details">
        <div class="product__header">
          <div>
            <h2>{{ price.product.name }}</h2>
            <p class="product__price" title="Product Price">{{ price.unit_amount | convertCentsToDollars }}</p>
          </div>
          <launch-cart-additem price-id="{{price.id}}">
            <button class="button" type="submit">Add to cart</button>
          </launch-cart-additem>
        </div>
        <p class="product__description" title="Product Description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </main>

  <footer>
    Footer links go here
  </footer>

</body>

</html>