---
layout: layout.njk
pagination:
  data: prices
  size: 1
  alias: price
permalink: "products/{{ price.product.name | slug }}/"
---

  <main id="main-content" tabindex="-1">
    <a href="/">&larr; Back to Products</a>
    <h1>Product Details</h1>
    <div class="product">
      <img src="{{ price.product.images[0] }}" alt="{{ price.product.name}} Product Image">
      <div class="product__details">
        <div class="product__header">
          <div>
            <h2>{{ price.product.name }}</h2>
            <p class="product__price" title="Product Price">{{ price.unit_amount | convertCentsToDollars }}</p>
          </div>
          <launch-cart-additem price-id="{{price.id}}">
            <button class="button" type="submit">Add to cart</button>
          </launch-cart-additem>
        </div>
        <p class="product__description" title="Product Description">
          {{ price.product.description }}
        </p>
      </div>
    </div>
  </main>

