---
layout: layout.njk
pagination:
    data: prices
    size: 1
    alias: price
permalink: "products/{{ price.product.name | slug }}/"
---

  <main id="main-content" tabindex="-1">
    <a href="/">&larr; Back to Products</a>
    <h1>Product Details</h1>
    <div class="product">
      <img src="{{ price.product.images[0] }}" alt="{{ price.product.name}} Product Image">
      <div class="product__details">
        <div class="product__header">
          <div>
            <h2>{{ price.product.name }}</h2>
            <p class="product__price" title="Product Price">{{ price.unit_amount | convertCentsToDollars }}</p>
          </div>
          <launch-cart-additem price-id="{{price.id}}">
            <button class="button" type="submit">Add to cart</button>
          </launch-cart-additem>
        </div>
        <p class="product__description" title="Product Description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </main>

